.Header {
    padding: 1rem 2rem;
    border-bottom: 1px solid rgba(189, 189, 192, 0.2);;
}

.Header__name {
    color: #fff;
}

.Header__status {
    color: rgba(255, 255, 255, .9);
    margin-top: 30px;
}